<div id='active_game' class='page'>
  <h2 class='page_title'></h2>
  People in this game
  <div class='user_list'></div>
  <div id='pre_game'>
    <button id='start_game'>Start Game</button>
  </div>
  <div id='game'>
    <ul id='card_drop_target'></ul>
    <div class='clear'></div>
    <ul id='card_holder'></ul>
  </div>
</div>
