<div id='game_room' class='page'>
  <h2 class='page_title'>Game Room</h2>
  Hello, <span class='username'></span>
  <div id='user_list'></div>
  <form id='create_game'>
    <input type='text' name='name' />
    <input type='submit' value='Join' />
  </form>
</div>
