<html>
<head>
  <title>Pusoy JS</title>
  <link rel='stylesheet' href='/css/pusoy.css' />
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/jquery-1.6.2.min.js"></script>
  <script type='text/javascript'>
    var p = {
      name: '{%= username %}'
    };
  </script>
  <script src="/js/sockets.js"></script>
  <script src="/js/pusoy.js"></script>
  <script src="/js/globals.js"></script>
</head>

<body>
  {%- partial('game_room') %}
  {%- partial('active_game') %}
</body>  
</html>
