<html>
	<head>
		<title>{%= title %}</title>
    <script src="/socket.io/socket.io.js"></script>
    <script type='text/javascript'>
      var settings = {
        sid: '{%= sess_id %}'
      };
      
      var socket = io.connect(window.location.origin);

      socket.on('connect', function() {
        socket.emit('set_session', settings.sid);
      });

      socket.on('data_dump', function(data) {
        console.log(data);
      });

      socket.on('error', function(e) {
        alert(e.message);
      });
    </script>
	</head>

	<body>
		Hello, {%= username %}!
	</body>  
</html>
