<html>
<head>
  <title>Pusoy JS</title>
  <link rel='stylesheet' href='/css/pusoy.css' />
</head>

<body>

<div id='username_prompt'>
  <h2 class='page_title'>Who Are You?</h2>
  <form method="post">
    <input type='text' name='username' id='username' />
    <input type='submit' value='go!' />
  </form>
</div>

</body>
</html>
