body {
  background: #336600;
}

.page {
  display: none;
  width: 800px;
  margin: 5px auto 0;
}

.clear {
  clear: both;
}

h2.page_title {
  text-align: center;
  margin: 0 0 5px;
}

#username_prompt {
  text-align: center;
}

#username_prompt input[type='text'] {
  border-radius: 5px;
  height: 35px;
  font-size: 16px;
  width: 255px;
  text-align: center;
}

#username_prompt input[type='submit'] {
  margin-left: 10px;
  height: 38px;
  font-weight: bold;
  width: 100px;
}

ul.card_sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul#card_holder li.ui-sortable-helper {
  width: 15px !important;
}

ul.card_sortable li.card:first-child {
  margin-left: 0;
}

ul.card_sortable li.card {
  float: left;
  margin: 0 0 0 -57px;
}

ul.card_sortable li.card_placeholder:first-child {
  margin-left: 0;
}

ul.card_sortable li.card_placeholder {
  float: left;
  margin: 0 0 0 -57px;
  border: 1px dashed red;
  background: black;
  opacity: 0.5;
}

#active_game .user_list .user.active {
  color: red;
}

#game {
  display: none;
}

#board {
  height: 192px;
  padding: 48px 20px 0;
}

.card_target {
  width: 100%;
  padding: 10px 20px;
  border: 2px solid red;
  border-radius: 5px;
  margin-top: 20px;
}

#last_active_play, #current_play {
  float: left;
  width: 200px
}

#current_play {
  margin-left: 75px;
}

#action_buttons {
  float: right;
}

#action_buttons .active_turn_button {
  display: block;
  width: 75px;
}
